
{{ $section_content :=  where .Site.RegularPages "Section" "tweet"  }}
{{ $section_content := ($section_content | last 50).Reverse }}

<div class="container m-auto">
    <div class="w-md-55 m-auto">
        <h2>Tweets</h2>
            <div class="tweet-row-example tweet-container">
            {{ range $section_content }}
                 <div class="tweet-column-example tweet-box">
                   <a href="{{.Permalink}}">{{ .Title }}</a>
                 </div>
            {{ end }}
            </div>
    </div>
</div>
